@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .hamburger-line {
    @apply h-[2px] w-5 origin-right rounded-full bg-white transition-all duration-300;
  }

  .line-1 {
    @apply w-line-width -translate-y-[1px] -rotate-45;
  }

  .line-2 {
    @apply w-0 opacity-0;
  }

  .line-3 {
    @apply w-line-width translate-y-[1px] rotate-45;
  }

  .section-contain {
    @apply mx-auto max-w-[1440px] px-6 md:px-16;
  }

  .job-card {
    @apply grid w-full place-content-center rounded-lg;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

